@import "../../css/colors.css";
@import "../../css/filters.css";
@import "../../css/default-colors.css";

.modal-content {
    max-width: 750px;
}

.body {
    background: $ui-modal-background;
    padding: 1.5rem 2.25rem;
    min-height: 150px;
    max-height: calc(100vh - 250px);
    overflow-y: auto;
}